---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
// import Steps2 from '~/components/widgets/Steps2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sobre Nosotros',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Sobre Nosotros - SolutionTracker"
    image={{
      src: 'https://scontent.fgye30-1.fna.fbcdn.net/v/t39.30808-6/331480417_874192563809378_5532602082448792171_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=783fdb&_nc_ohc=5G7o-vJS6yMAX90nIyF&_nc_ht=scontent.fgye30-1.fna&oh=00_AfCHxmUkQWmhqKJdP4T0PpQqCAJqAh9WydkFytIdvrYCzQ&oe=659D3656',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Somos una empresa líder en soluciones de rastreo satelital <br />
      <span class="text-accent dark:text-white highlight"> que impulsan la eficiencia, seguridad y control de activos </span>
    </Fragment>

    <Fragment slot="subtitle">
     Descubra quiénes somos y por qué somos la elección preferida para empresas que buscan soluciones confiables y tecnológicamente avanzadas.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Datos sobre nosotros"
    stats={[
      { title: 'Dispositivos instalados', amount: '247367' },
      { title: 'Clientes', amount: '31947' },
      { title: 'Fue fundada', amount: '2018' },
      { title: 'Partners mundiales', amount: '231' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Historia de la empresa"
    subtitle="Desde nuestra fundación en 2018, en SolutionTracker nos hemos dedicado a proporcionar soluciones de rastreo satelital. Nuestra empresa ha evolucionado a lo largo de los años, adaptándose a las crecientes demandas de un mundo en constante cambio."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Misión',
        description:
          'Facilitar la gestión eficiente y segura de activos a través de soluciones avanzadas de rastreo satelital.',
        icon: 'tabler:template',
      },
      {
        title: 'Visión',
        description:
          'Ser reconocidos a nivel mundial como líderes en tecnología de rastreo, destacando la excelencia, la innovación y la integridad en todo lo que hacemos.',
        icon: 'tabler:template',
      },
      {
        title: 'Valores',
        description:
          'Compromiso con la calidad, innovación, integridad, y la satisfacción del cliente.',
        icon: 'tabler:template',
      },
    ]}
  />
  
  <Steps
    title="En SolutionTracker, creemos en el compromiso con la satisfacción del cliente y la excelencia operativa."
    tagline="Filosofía de Trabajo"
    isReversed={true}
    items={[
      {
        title: ' Nuestra filosofía se centra en ofrecer soluciones que no solo cumplen con las expectativas, sino que las superan.',
        icon: 'tabler:vocabulary',
      },
      {
        title: 'Nos enorgullece mantener una cultura empresarial que valora la innovación, la colaboración y el respeto. Nuestro equipo está formado por profesionales apasionados que comparten la visión de hacer de SolutionTracker una empresa líder y en constante evolución.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Impulsamos la industria de rastreo satelital a través de la adopción de tecnologías avanzadas. Nuestra dedicación a la innovación    nos permite ofrecer soluciones precisas, confiables y a la vanguardia.',
        icon: 'tabler:code-circle',
      },
  
    ]}
    image={{
      src: 'https://i.ibb.co/hdy3WYT/fotoss.jpg',
      alt: 'Steps image',
    }}
  />

  <!-- Features3 Widget ************** -->
<!-- 
  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  /> -->

  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  /> -->

  <!-- Steps2 Widget ****************** -->

  <!-- <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->
<!-- 
  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  /> -->
<!-- 
  Features2 Widget ************** -->
 <script type="text/javascript">
        var Tawk_API = Tawk_API || {};
        (function () {
          var s1 = document.createElement('script'),
            s0 = document.getElementsByTagName('script')[0];
          s1.async = true;
          s1.src = 'https://embed.tawk.to/6570df9dff45ca7d47879005/1hh0ej09n';
          s1.charset = 'UTF-8';
          s1.setAttribute('crossorigin', '*');
          s0.parentNode.insertBefore(s1, s0);
        })();
      </script>
  <Features2
    title="Soporte técnico"
    tagline="Contáctanos"
    columns={2}
    items={[
      {
        title: 'Escríbenos',
        description:
          'Estamos aquí para responder a tus preguntas, ofrecerte asistencia y proporcionarte la información que necesitas',
        icon: 'tabler:messages',
      },
      {
        title: 'Llámanos',
        description:
          '¿Prefieres hablar con nosotros directamente? ¡Nos encantaría escucharte! Comunícate con nuestro equipo llamando al +593 998 180 956.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
