---
import Layout from '~/layouts/PageLayout.astro';

// import Padding from '~/components/widgets/Padding.astro';
import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
//import Features3 from '~/components/widgets/Features3.astro';
//import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
//import Stats from '~/components/widgets/Stats.astro';
import Prices from '~/components/widgets/Pricing.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

import appStoreImg from '~/assets/images/app-store.png';
import googlePlayImg from '~/assets/images/google-play.png';

// const img1 = 'https://www.mapon.com/images/components/homepage/cars.svg';
const appStoreDownloadLink = 'https://apps.apple.com/lv/app/mapon/id488111040';
const googlePlayDownloadLink = 'https://play.google.com/store/apps/details?id=draugiemgroup.mapon&pli=1';

const metadata = {
  title: 'SolutionTracker',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="center"
      links={[
        { text: 'Nosotros', href: '#nosotros' },
        { text: 'Servicios', href: '#servicios' },
        { text: 'Clientes', href: '#clientes' },
        { text: 'Contacto', href: '#contacto' },
        { text: 'Ingresar', href: 'https://www.mapon.com/new/' },
      ]}
      actions={[
        {
          text: 'Atención al cliente',
          href: 'tel:+593 99 818 0956',
          variant: 'primary',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <div class="container my--20 py-50 mx-auto px-4 lg:px-12">
    <Hero2
      tagline="SolutionTracker"
      image={{
        src: 'https://revistamagazzine.com/wp-content/uploads/2019/06/Control-flotas-Magazzine-del-Transporte-1.jpg',
        alt: 'AstroWind Hero Image',
      }}
      actions={[
        {
          icon: 'tabler:phone-call',
          variant: 'primary',
          text: 'Empecemos',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
        },
        { variant: 'tertiary', text: 'Emergencia monitoreo', href: 'tel:0998180956', target: '_blank' },
      ]}
    >
      <script type="text/javascript">
        var Tawk_API = Tawk_API || {};
        (function () {
          var s1 = document.createElement('script'),
            s0 = document.getElementsByTagName('script')[0];
          s1.async = true;
          s1.src = 'https://embed.tawk.to/6570df9dff45ca7d47879005/1hh0ej09n';
          s1.charset = 'UTF-8';
          s1.setAttribute('crossorigin', '*');
          s0.parentNode.insertBefore(s1, s0);
        })();
      </script>
      <!--End of Tawk.to Script-->

      <Fragment slot="title">
        <span class="text-solution dark:text-white highlight">Plataforma de Gestión de Flotas y</span> Seguimiento de
        activos <span class="hidden xl:inline"></span>
      </Fragment>

      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          Optimice la gestión de su flota con nuestro sistema de rastreo remoto y monitoreo de emergencias 24/7.</span
        >
         Reciba notificaciones instantáneas sobre eventos críticos para una gestión eficiente de sus vehículos y
        activos.
      </Fragment>
      <div slot="actions" class="flex max-w-sm gap-4">
        <Button
          type="button"
          class="text-white-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          Saber más
        </Button>
      </div>
      <!-- <div slot="actions" class="flex max-w-sm gap-4">

<Button type="button" class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Saber más</Button>
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div> -->
    </Hero2>
  </div>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
   
    var Tawk_API = Tawk_API || {}, // eslint-disable-next-line no-unused-vars
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement('script'),
        s0 = document.getElementsByTagName('script')[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/6570df9dff45ca7d47879005/1hh0ej09n';
      s1.charset = 'UTF-8';
      // <h1>Hola</h1>
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>

  <!--End of Tawk.to Script-->
  <!-- <script  src="//code.tidio.co/h8fkggv0hnu5trozmbksrogxtybm6gto.js" async></script> -->
  <section id="nosotros" class="py-8">
    <div class="container my-10 mx-auto px-4 lg:px-12">
      <!--Section: Design Block-->
      <section class="mb-20 text-gray-800">
        <h3 class="py-10 text-3xl font-bold dark:text-white text-center mb-4">Acerca de SolutionTracker</h3>
        <p class="text-center text-gray-500 mb-10 md:mb-12 mx-auto max-w-3xl -py-1 -mt-2 dark:text-gray-400">
          Somos una empresa con plataformas digitales que nos permite compartir información con nuestros clientes, a
          través de diferentes reportes que son verificados y resguardados con socios estratégicos con estándares
          internacionales; Al 2025 seremos una de las 5 empresas líderes en software de manejo de flotas para diversas
          industrias dentro del territorio ecuatoriano.
        </p>
        <div class="md:flex md:flex-wrap">
          <div class="xl:w-6/12 md:w-7/12 mb-6 lg:mb-0 md:pr-3">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.6976155904845!2d-79.03321442519912!3d-2.9031695395307056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd23c3ecc91703%3A0x27151b9ac6738176!2sSolution%20Tracker%20(Rastreo%20Satelital%20F%C3%A1cil%20y%20Efectivo%20)!5e0!3m2!1ses!2sec!4v1701206438920!5m2!1ses!2sec"
              class="h-80 w-full border-0 rounded-lg shadow-lg"
              allowfullscreen=""
              loading="lazy"></iframe>
          </div>
          <div class="xl:w-6/12 md:w-5/12 md:pl-3">
            <div class="grid xl:grid-cols-2 xl:grid-rows-2 xl:gap-x-4 md:gap-x-6">
              <div class="mb-10 md:mb-12">
                <div class="flex items-start">
                  <div class="shrink-0">
                    <div class="p-4 bg-lime-500 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="headset"
                        class="w-5 text-white"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                      >
                        <path
                          fill="currentColor"
                          d="M192 208c0-17.67-14.33-32-32-32h-16c-35.35 0-64 28.65-64 64v48c0 35.35 28.65 64 64 64h16c17.67 0 32-14.33 32-32V208zm176 144c35.35 0 64-28.65 64-64v-48c0-35.35-28.65-64-64-64h-16c-17.67 0-32 14.33-32 32v112c0 17.67 14.33 32 32 32h16zM256 0C113.18 0 4.58 118.83 0 256v16c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-16c0-114.69 93.31-208 208-208s208 93.31 208 208h-.12c.08 2.43.12 165.72.12 165.72 0 23.35-18.93 42.28-42.28 42.28H320c0-26.51-21.49-48-48-48h-32c-26.51 0-48 21.49-48 48s21.49 48 48 48h181.72c49.86 0 90.28-40.42 90.28-90.28V256C507.42 118.83 398.82 0 256 0z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                  <div class="grow ml-6">
                    <p class="font-bold mb-1">Soporte Técnico</p>
                    <p class="text-sm text-gray-500">soporte@solutiontracker.ec</p>
                    <a href="tel:0978698025" class="font-medium text-lime-600 dark:text-blue-500 hover:underline"
                      >+593 978 698 025</a
                    >
                  </div>
                </div>
              </div>
              <div class="mb-10 md:mb-12">
                <div class="flex items-start">
                  <div class="shrink-0">
                    <div class="p-4 bg-lime-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="dollar-sign"
                        class="w-3 text-white"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 288 512"
                        ><path
                          fill="currentColor"
                          d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"
                        ></path></svg
                      >
                    </div>
                  </div>
                  <div class="grow ml-6">
                    <p class="font-bold mb-1">Ventas</p>
                    <p class="text-sm text-gray-500">ventas@solutiontracker.ec</p>
                    <a href="tel:0978698025" class="font-medium text-lime-600 dark:text-blue-500 hover:underline"
                      >+593 978 698 025</a
                    >
                  </div>
                </div>
              </div>
              <div class="mb-10 md:mb-12">
                <div class="flex align-start">
                  <div class="shrink-0">
                    <div class="p-4 bg-lime-500 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="newspaper"
                        class="w-5 text-white"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512"
                        ><path
                          fill="currentColor"
                          d="M552 64H88c-13.255 0-24 10.745-24 24v8H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h472c26.51 0 48-21.49 48-48V88c0-13.255-10.745-24-24-24zM56 400a8 8 0 0 1-8-8V144h16v248a8 8 0 0 1-8 8zm236-16H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm-208-96H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm0-96H140c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h360c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12z"
                        ></path></svg
                      >
                    </div>
                  </div>
                  <div class="grow ml-6">
                    <p class="font-bold mb-1">Monitoreo</p>
                    <p class="text-sm text-gray-500">monitoreo@solutiontracker.ec</p>
                    <a href="tel:0978698025" class="font-medium text-lime-600 dark:text-blue-500 hover:underline"
                      >+593 978 698 025</a
                    >
                  </div>
                </div>
              </div>
              <div class="mb-10 md:mb-12">
                <div class="flex align-start">
                  <div class="shrink-0">
                    <div class="p-4 bg-lime-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        data-prefix="fas"
                        data-icon="bug"
                        class="w-5 text-white"
                        role="img"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        ><path
                          fill="currentColor"
                          d="M511.988 288.9c-.478 17.43-15.217 31.1-32.653 31.1H424v16c0 21.864-4.882 42.584-13.6 61.145l60.228 60.228c12.496 12.497 12.496 32.758 0 45.255-12.498 12.497-32.759 12.496-45.256 0l-54.736-54.736C345.886 467.965 314.351 480 280 480V236c0-6.627-5.373-12-12-12h-24c-6.627 0-12 5.373-12 12v244c-34.351 0-65.886-12.035-90.636-32.108l-54.736 54.736c-12.498 12.497-32.759 12.496-45.256 0-12.496-12.497-12.496-32.758 0-45.255l60.228-60.228C92.882 378.584 88 357.864 88 336v-16H32.666C15.23 320 .491 306.33.013 288.9-.484 270.816 14.028 256 32 256h56v-58.745l-46.628-46.628c-12.496-12.497-12.496-32.758 0-45.255 12.498-12.497 32.758-12.497 45.256 0L141.255 160h229.489l54.627-54.627c12.498-12.497 32.758-12.497 45.256 0 12.496 12.497 12.496 32.758 0 45.255L424 197.255V256h56c17.972 0 32.484 14.816 31.988 32.9zM257 0c-61.856 0-112 50.144-112 112h224C369 50.144 318.856 0 257 0z"
                        ></path></svg
                      >
                    </div>
                  </div>
                  <div class="grow ml-6">
                    <p class="font-bold mb-1">Administración</p>
                    <p class="text-sm text-gray-500">administracion@solutiontracker.ec</p>
                    <a href="tel:0978698025" class="font-medium text-lime-600 dark:text-blue-500 hover:underline"
                      >+593 978 698 025</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Design Block-->
    </div>
  </section>

  <!-- 
<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="p-8 rounded-t-lg" src="/docs/images/products/apple-watch.png" alt="product image" />
    </a>
    <div class="px-5 pb-5">
        <a href="#">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
        </a>
        <div class="flex items-center mt-2.5 mb-5">
            <div class="flex items-center space-x-1 rtl:space-x-reverse">
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
            </div>
            <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">5.0</span>
        </div>
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
        </div>
    </div>
</div> -->

  <div class="flex flex-wrap justify-center mt-50">
    <!-- card 1 -->

    <div class="p-4 max-w-sm">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img
          class="w-full h-60"
          src="https://sts-cr.com/wp-content/uploads/sites/3/2022/12/monitoring6.jpg"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4 flex flex-col justify-between flex-grow">
          <div class="text-gray-700 dark:text-white font-bold text-xl mb-2">Vigilancia 24/7</div>
          <p class="text-gray-700 text-base dark:text-gray-400">
            La seguridad no descansa, y nosotros tampoco. Con nuestro servicio de vigilancia 24/7, garantizamos
            protección constante de tus activos. Tecnología avanzada y expertos en monitoreo mantienen un ojo atento a
            tus bienes en todo momento.
          </p>
        </div>
      </div>
    </div>

    <!-- card 2 -->

    <div class="p-4 max-w-sm">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img
          class="w-full h-60"
          src="https://i.ibb.co/56SWPv7/6df693f004fb4655ecfd1cf27f96973f506a1b6c-s2-n2-y2.png"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4 flex flex-col justify-between flex-grow">
          <div class="text-gray-700 dark:text-white font-bold text-xl mb-2">Números de emergencia</div>
          <p class="text-gray-700 text-base dark:text-gray-400">
            Con nuestro servicio de vigilancia las 24 horas, ofrecemos protección continua. Expertos capacitados
            mantienen un ojo atento a tus activos en todo momento. Tus números de emergencia están disponibles las 24
            horas.
            <br /> Llámanos al <a
              href="tel:0998180956"
              class="font-small text-lime-600 dark:text-blue-500 hover:underline">+593 998 180 956</a
            >
          </p>
        </div>
      </div>
    </div>

    <div class="p-4 max-w-sm">
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img
          class="w-full h-60"
          src="https://img.freepik.com/foto-gratis/colegas-masculinos-femeninos-irreconocibles-mirando-pantalla-portatil-oficina_1098-17852.jpg?w=900&t=st=1701377759~exp=1701378359~hmac=c73662ee7a5e1c3d53af01ea8e4eb7b78d375ae3469b9cc7d3e17eda84ef9dd9"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="text-gray-700 font-bold text-xl mb-2 dark:text-white">Asistencia personalizada</div>
          <p class="text-gray-700 text-base dark:text-gray-400">
            En SolutionTracker, cada cliente es único. Ofrecemos nuestra asistencia para satisfacer tus necesidades.
            Nuestro equipo capacitado guía cada paso, asegurando una experiencia impecable. Estamos siempre disponibles
            para brindarte el soporte necesario.
          </p>
        </div>
      </div>
    </div>
    <!-- card 3 -->
  </div>

  <section id="servicios" class="py-1 bg-lime-500 text-gray-100 sm:py-12 lg:py-16">
    <section class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-xl mx-auto text-center xl:max-w-2xl">
        <h2 class="text-3xl py-5 font-bold leading-tight text-gray-50 sm:text-4xl xl:text-4xl mb-6">
          Nuestras soluciones son para
        </h2>
      </div>
      <div
        class="grid max-w-4xl lg:max-w-6xl grid-cols-1 mx-auto mt-8 text-center gap-y-4 sm:gap-x-8 sm:grid-cols-2 lg:grid-cols-3 sm:mt-12 lg:mt-20 sm:text-left"
      >
        <!-- <div class="relative"> -->

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <a href="#">
            <img
              class="rounded-t-lg rounded-t-lg h-40 w-full object-cover"
              src="https://www.mapon.com/storage/components/20555/logistic.jpg"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Logística y Transportes Largos
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Haga un seguimiento del consumo de combustible de su flota, haga inspecciones de vehículos digitalmente y
              siga los datos del tacógrafo remotamente utilizando nuestro software and hardware.
            </p>
            <a
              href="https://walink.co/7aaaba"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-600 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg--600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Escríbenos
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="-6 0 30 25">
                <path
                  d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                ></path>
              </svg>
            </a>
            <a
              href="tel:+593 99 818 0956"
              target="_blank"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Llámanos
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>

        <!-- </div> -->

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-600">
          <a href="#">
            <img
              class="rounded-t-lg rounded-t-lg h-40 w-full object-cover"
              src="https://transcayambe.com.ec/wp-content/uploads/2020/10/WhatsApp-Image-2020-10-05-at-09.30.12-2.jpeg"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Transporte pesado</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Ver la ubicación de sus vehículos, crear geozonas y tener informes detallados resultará rápido y fácil con
              nuestras soluciones. Optimizamos el seguimiento de transporte pesado para brindarte un control total sobre
              tu flota, asegurando eficiencia y seguridad en cada viaje.
            </p>
            <a
              href="https://walink.co/7aaaba"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-600 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Escríbenos
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="-6 0 30 25">
                <path
                  d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                ></path>
              </svg>
            </a>
            <a
              href="tel:0978698025"
              target="_blank"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Llámanos
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-600">
          <a href="#">
            <img
              class="rounded-t-lg rounded-t-lg h-40 w-full object-cover"
              src="https://aircargolatinamerica.com/wp-content/uploads/2020/02/g0-core-pr-022420.web_.796.448.jpg"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mensajería y entrega</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Ofrecemos un planificador de ruta avanzado y control de flotas por GPS en tiempo real. Además, presentamos
              soluciones innovadoras diseñadas para ahorrarte tiempo, dinero y aumentar la satisfacción de tus clientes.
            </p>
            <a
              href="https://walink.co/7aaaba"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-600 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Escríbenos
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="-6 0 30 25">
                <path
                  d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                ></path>
              </svg>
            </a>
            <a
              href="tel:0978698025"
              target="_blank"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Llámanos
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-600">
          <a href="#">
            <img
              class="rounded-t-lg rounded-t-lg h-40 w-full object-cover"
              src="https://scontent.fgye30-1.fna.fbcdn.net/v/t1.6435-9/84891136_1651053931704360_1329487163468808192_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=xift-_VWnbQAX9AkcFj&_nc_ht=scontent.fgye30-1.fna&oh=00_AfCIHhuxkdTpa8aUtopr1mEvMM_xEikMFYGFLPm5QBhNXg&oe=65959C8A"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Transporte mixto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Optimiza la gestión integral de tu flota de camionetas de transporte mixto. Monitorea el consumo de
              combustible, lleva a cabo inspecciones digitales de vehículos y accede a los datos del tacógrafo de manera
              remota, todo diseñado para brindarte un control total sobre tu flota, garantizando eficiencia y seguridad
              tanto para el transporte de pasajeros como de carga.
            </p>
            <a
              href="https://walink.co/7aaaba"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-600 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Escríbenos
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="-6 0 30 25">
                <path
                  d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                ></path>
              </svg>
            </a>
            <a
              href="tel:0978698025"
              target="_blank"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Llámanos
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-600">
          <a href="#">
            <img
              class="rounded-t-lg rounded-t-lg h-40 w-full object-cover"
              src="https://www.mapon.com/storage/components/20555/corporate.jpg"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Flotas corporativas</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Aproveche al máximo la reserva de vehículos, optimice la eficiencia de la flota y explore otras soluciones
              innovadoras para garantizar el uso efectivo de todos los vehículos de empresa. Además, considere la
              implementación de tecnologías avanzadas que puedan mejorar aún más la gestión y el rendimiento de su
              flota.
            </p>
            <a
              href="https://walink.co/7aaaba"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Escríbenos
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="-6 0 30 25">
                <path
                  d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                ></path>
              </svg>
            </a>
            <a
              href="tel:0978698025"
              target="_blank"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Llámanos
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-600">
          <a href="#">
            <img
              class="rounded-t-lg rounded-t-lg h-40 w-full object-cover"
              src="https://img.freepik.com/foto-gratis/rider-moto-carretera-divirtiendose-conduciendo-camino-vacio_1150-10704.jpg?w=900&t=st=1701725485~exp=1701726085~hmac=59f02d570d197a12554afe224338790de562d92f2b8e6853b83046cf0e943b4a"
              alt=""
            />
          </a>
          <div class="p-5">
            <a href="#">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Motos</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Asegura la protección total de tus motocicletas con nuestro avanzado sistema de rastreo y seguridad en
              SolutionTracker. Controla el consumo de combustible, realiza inspecciones digitales de vehículos y accede
              a los datos del tacógrafo de forma remota, todo ello diseñado específicamente para optimizar la gestión de
              flotas de motos y prevenir robos.
            </p>
            <a
              href="https://walink.co/7aaaba"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-lime-600 rounded-lg hover:bg-lime-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Escríbenos
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="-6 0 30 25">
                <path
                  d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                ></path>
              </svg>
            </a>
            <a
              href="tel:0978698025"
              target="_blank"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Llámanos
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>

  <!-- <Features3
    id="features"
    title="Nuestras Soluciones"
    subtitle="Somos una empresa con plataformas digitales que nos permite compartir información con nuestros clientes, a través de diferentes reportes que son verificados y resguardados con socios estratégicos con estándares internacionales; Al 2025 seremos una de las 5 empresas líderes en software de manejo de flotas para diversas industrias dentro del territorio ecuatoriano."
    tagline="Sobre Nosotros"
    columns={2}
    items={[
      {
        title: 'Download and install the app',
        description: `Begin your journey by downloading our user-friendly app from your device's app store or our official website.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Sign up',
        description:
          'Create your account by providing the necessary information, enabling you to access our full range of features.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Browse templates',
        description: 'Explore our diverse collection of website templates, categorized for easy navigation.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Preview and select a template',
        description: `Visualize the potential of each template through previews, then choose the one that aligns best with your project's needs.`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  /> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    items={[
      {
        title: 'User-friendly interface',
        description:
          'An intuitive and easy-to-navigate interface that allows users to quickly browse and find the templates they need.',
        icon: 'tabler:wand',
      },
      {
        title: 'Personalization options',
        description:
          'Include basic customization tools that let users modify text, colors, images, and other elements within the templates.',
        icon: 'tabler:settings',
      },
      {
        title: 'Ready-to-use components',
        description:
          'Enhance your designs with ready-to-use elements like graphics, icons, and layouts, saving you time and boosting visual appeal.',
        icon: 'tabler:template',
      },
      {
        title: 'Preview Mode',
        description: 'Provide a preview of each template, allowing users to see how it looks before making a purchase.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->
  <Prices
    title="Nuestros planes"
    subtitle="Tenemos los mejores planes que se ajustan a tus necesidades"
    prices={[
      {
        title: 'Plan estándar',
        subtitle: 'La base esencial para mantener un control efectivo de tus activos',
        price: 29,
        period: 'per month',
        items: [
          {
            description: 'Incluye dispositivo GPS de alta calidad.',
          },
          {
            description: 'Acceso a monitoreo 24/7 desde celular, PC o Tablet.',
          },
          {
            description: 'Posición actualizada cada minuto.',
          },
          {
            description: 'Control de recorridos, Rutas y Paradas',
          },
          {
            description: 'Bloqueo de motor',
          },
          {
            description: 'Recibe alertas de desconexión de batería a tu correo.',
          },
          {
            description: 'Números de contacto 24/7 en caso de emergencia',
          },
          {
            description: 'Soporte técnico a nivel Nacional',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Envíanos un mensaje',
          href: 'https://walink.co/89fed9',
        },
      },
      {
        title: 'Plan Bronce',
        subtitle: 'Da un paso más con el Plan Bronce, que incluye todos los beneficios del Estándar',
        price: 69,
        period: 'Per Month',
        items: [
          {
            description: 'Activación de apertura de puertas',
          },
          {
            description: 'Acceso a central de monitoreo 24/7',
          },
          {
            description: 'Posición en tiempo real',
          },
          {
            description: 'Alerta por correo electrónico de SOS y corte de energía.',
          },
          {
            description: 'Reportería Especializada (consultar anexo de reportes)',
          },
          {
            description: 'Alertas de encendido y apagado del vehículo a tu correo.',
          },
          {
            description: 'Soporte técnico a nivel Nacional',
          },
        ],
        callToAction: {
          target: '_blank',

          text: 'Envíanos un mensaje',
          href: 'https://walink.co/c02ea5',
        },

        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Plan Plata',
        subtitle:
          'Con el Plan Plata, llevamos la gestión de flotas a un nivel superior. Incluye beneficios del Sistema Bronce',
        price: 199,
        period: 'Per Month',
        items: [
          {
            description: 'Sensor de combustible, medición en tiempo real del estado del tanque de combustible.',
          },
          {
            description: 'Botón SOS',
          },
          {
            description: 'Alerta SMS de botón SOS y corte de energía posible robo del vehículo.',
          },

          {
            description: 'Te brindamos asesoría personalizada sobre el estado de tu conducción y del vehículo.',
          },
          {
            description: 'Conoce qué tan bien conduces, reduce riesgos de accidentes y ahorra combustible.',
          },
          {
            description: 'Aviso programado y automatizado de mantenimientos preventivos, correctivos y emergentes.',
          },
          {
            description: 'Entrada y salida de zonas / Geocercas Cercas virtuales',
          },
          {
            description: 'Cercas de parqueo',
          },
          {
            description: 'Puntos de interés visuales.',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Envíanos un mensaje',
          href: 'https://walink.co/eb0921',
        },
      },
    ]}
  />

  <CallToAction
    id="download"
    title="¡Descarga nuestra aplicación!"
    subtitle="Use nuestra aplicación para estar conectado y tener acceso a su negocio desde cualquier lugar."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Price-related features"
    subtitle="Discover the advantages of choosing our plans"
    columns={2}
    items={[
      {
        title: 'Tiered Pricing Plans',
        description: 'Choose from a range of pricing plans designed to accommodate different budgets and requirements.',
        icon: 'tabler:stairs',
      },
      {
        title: 'Transparent Pricing',
        description: 'Clearly displayed pricing details for each plan, with no hidden costs or unexpected charges.',
        icon: 'tabler:flip-vertical',
      },
      {
        title: 'Secure Payment Methods',
        description: 'Secure payment gateways to protect your financial information during transactions.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Instant Access',
        description: `Immediate access to your chosen plan's features and templates upon subscription.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Upgrade Value',
        description: 'Upgrade to higher-tier plans to unlock more features and benefits for an enhanced experience.',
        icon: 'tabler:chevrons-up',
      },
      {
        title: '24H support',
        description: 'Questions answered via live chat, email or phone, every calendar day.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  /> -->
  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'Offline Access',
        description: 'Offer the option for users to download purchased templates for offline use.',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'Secure Cloud Storage',
        description:
          'Provide cloud storage for purchased templates, ensuring users can access and back up their templates from anywhere securely.',
        icon: 'tabler:file-download',
      },
      {
        title: 'Regular Updates',
        description: 'Continuously add new templates and features to keep the app fresh and engaging for users.',
        icon: 'tabler:refresh',
      },
      {
        title: 'Wishlist',
        description: `Allow users to create a wishlist of templates they're interested in, making it easier for them to revisit and potentially purchase later.`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Other features</h3>
    </Fragment>
  </Content> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics of our app"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->
  <section class="bg-white py-10 dark:bg-gray-900" id="clientes">
    <div class="py-8 lg:py-10 mx-auto max-w-screen-xl px-4">
      <h2
        class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl"
      >
        Nuestros clientes
      </h2>

      <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6 dark:text-gray-400">
        <a href="#" class="flex justify-center items-center">
         <svg xmlns="http://www.w3.org/2000/svg" width="2500" height="180" viewBox="0 0 192.756 192.756"><path fill="#fff" d="M0 192.756h192.756V0H0v192.756z"/><path d="M35.311 97.965H9.17l8.325-16.139h26.14l-8.324 16.139zm-3.11 6.027H6.06l2.019-3.914H34.22l-2.019 3.914zm-27.278 2.205h26.141l-2.089 4.049H2.833l2.09-4.049z" fill-rule="evenodd" clip-rule="evenodd" fill="#cc2229"/><path d="M53.144 97.367h-2.578l-.5-2.666H45.37l-1.492 2.666h-2.515l6.883-11.74h2.508l2.39 11.74zm-3.45-4.645l-.761-4.356-2.445 4.358 3.206-.002zm10.298 4.645l.249-1.271a4.361 4.361 0 0 1-1.432 1.072 3.905 3.905 0 0 1-1.677.395c-.571 0-1.06-.127-1.462-.377a1.694 1.694 0 0 1-.779-1.058c-.113-.454-.091-1.083.066-1.882l1.06-5.383h2.252l-.769 3.908c-.235 1.196-.338 1.931-.309 2.199a.927.927 0 0 0 .326.64c.186.158.45.236.786.236.384 0 .752-.106 1.096-.315.345-.209.607-.473.779-.784s.381-1.079.62-2.296l.707-3.588h2.25l-1.674 8.504h-2.089zm10.001-8.504l-.355 1.794h-1.537l-.675 3.429c-.136.693-.201 1.098-.196 1.213a.386.386 0 0 0 .146.283.539.539 0 0 0 .358.113c.207 0 .524-.072.948-.215l-.151 1.745a4.981 4.981 0 0 1-1.846.338c-.406 0-.759-.068-1.055-.205-.3-.137-.506-.312-.615-.527-.109-.217-.157-.512-.142-.879.004-.26.083-.791.239-1.586l.73-3.708h-1.033l.354-1.794h1.033l.333-1.69 2.518-1.313-.591 3.003h1.537v-.001zm.231 4.132c.147-.746.475-1.471.979-2.169a5.034 5.034 0 0 1 1.88-1.6 5.303 5.303 0 0 1 2.372-.554c1.288 0 2.26.417 2.918 1.253.658.835.861 1.892.61 3.169a5.466 5.466 0 0 1-1.874 3.199c-.999.847-2.128 1.271-3.387 1.271-.78 0-1.489-.178-2.128-.529a2.727 2.727 0 0 1-1.308-1.549c-.232-.684-.254-1.515-.062-2.491zm2.285.119c-.166.844-.096 1.492.217 1.939.312.448.763.674 1.349.674.588 0 1.126-.224 1.611-.671.484-.448.814-1.103.982-1.957.163-.831.089-1.472-.219-1.92-.308-.447-.758-.673-1.347-.673-.586 0-1.124.223-1.613.671-.489.447-.816 1.095-.982 1.938l.002-.001zm7.76 1.123l.443-2.25h4.42l-.443 2.25h-4.42zm7.766 3.13l1.92-9.753h-3.484l.391-1.987h9.331l-.391 1.987h-3.476l-1.92 9.753h-2.371zm8.614 0h-2.251l1.674-8.504h2.091l-.238 1.21c.47-.571.866-.948 1.188-1.13a2.05 2.05 0 0 1 1.024-.272c.512 0 .98.143 1.4.424l-1.083 1.962c-.331-.244-.661-.368-.985-.368-.315 0-.601.087-.853.26-.252.173-.488.488-.7.94-.215.454-.468 1.406-.752 2.854l-.515 2.624zm7.08-5.911l-1.972-.366c.39-.823.906-1.434 1.544-1.827.639-.394 1.513-.592 2.617-.592 1.002 0 1.728.119 2.172.356.444.236.73.539.859.903.129.367.097 1.04-.096 2.016l-.543 2.628c-.146.746-.22 1.3-.217 1.655.003.354.064.734.18 1.139h-2.227a7.62 7.62 0 0 1-.084-.662c-.014-.132-.023-.221-.029-.264a5.29 5.29 0 0 1-1.399.84 3.92 3.92 0 0 1-1.455.281c-.876 0-1.522-.24-1.933-.713-.409-.475-.544-1.078-.4-1.803.095-.482.294-.912.596-1.287a2.987 2.987 0 0 1 1.136-.863c.452-.201 1.086-.377 1.894-.527 1.092-.195 1.856-.381 2.296-.552l.044-.223c.085-.433.039-.742-.139-.925-.177-.184-.561-.278-1.153-.278-.401 0-.729.08-.984.237-.255.158-.493.435-.709.829l.002-.002zm2.653 1.826c-.309.097-.79.214-1.439.346-.649.132-1.086.266-1.303.394-.335.207-.534.473-.597.793a.94.94 0 0 0 .19.816c.189.23.468.345.829.345.405 0 .822-.134 1.241-.4.312-.203.54-.452.684-.746.096-.192.197-.559.304-1.098l.091-.45zm11.367 4.085h-2.253l.854-4.34c.18-.917.249-1.513.207-1.782a.974.974 0 0 0-.344-.629c-.186-.149-.434-.224-.739-.224-.387 0-.76.107-1.111.32-.351.213-.62.5-.803.851-.184.351-.37 1.003-.557 1.954l-.758 3.85h-2.253l1.675-8.504h2.09l-.246 1.248c.931-.959 1.964-1.44 3.089-1.44.494 0 .934.089 1.307.268.377.179.645.407.799.684.156.277.242.595.255.946.012.352-.045.857-.174 1.514l-1.038 5.284zm1.972-2.426l2.326-.344c.008.437.139.772.388.998.25.226.639.341 1.167.341.582 0 1.042-.109 1.376-.322a.903.903 0 0 0 .414-.599c.034-.17.009-.315-.076-.426-.09-.107-.323-.207-.693-.296-1.737-.401-2.815-.767-3.236-1.098-.584-.458-.794-1.097-.634-1.914.145-.734.559-1.355 1.239-1.855.681-.503 1.634-.754 2.854-.754 1.164 0 1.994.189 2.483.569.494.379.772.939.84 1.681l-2.199.392c-.025-.33-.149-.586-.366-.761-.22-.174-.567-.265-1.035-.265-.593 0-1.032.083-1.321.25-.193.115-.312.269-.348.456a.411.411 0 0 0 .146.41c.171.149.833.36 1.977.631 1.145.272 1.918.607 2.314 1.001.39.401.516.959.375 1.676-.153.777-.611 1.449-1.371 2.01-.763.561-1.784.842-3.058.842-1.16 0-2.032-.238-2.613-.705-.583-.469-.901-1.108-.949-1.915v-.003zm11.052-6.078h2.1l-.245 1.248a4.148 4.148 0 0 1 1.308-1.04c.518-.266 1.06-.4 1.626-.4.987 0 1.751.388 2.286 1.161.537.774.669 1.854.397 3.235-.279 1.42-.844 2.526-1.694 3.312-.85.789-1.769 1.184-2.756 1.184-.47 0-.879-.094-1.222-.279-.345-.188-.684-.51-1.017-.965l-.844 4.287h-2.25l2.311-11.743zm1.419 4.108c-.188.955-.138 1.663.149 2.12.29.456.707.686 1.253.686.522 0 1-.211 1.428-.629.431-.417.74-1.108.928-2.063.176-.89.128-1.555-.146-1.986-.273-.434-.673-.65-1.202-.65-.55 0-1.048.213-1.494.637-.445.423-.753 1.054-.916 1.885zm7.337.024c.147-.746.476-1.471.979-2.169a5.03 5.03 0 0 1 1.879-1.6 5.304 5.304 0 0 1 2.373-.554c1.287 0 2.26.417 2.918 1.253.658.835.861 1.892.61 3.169a5.471 5.471 0 0 1-1.874 3.199c-.998.847-2.128 1.271-3.387 1.271-.78 0-1.489-.178-2.129-.529a2.73 2.73 0 0 1-1.308-1.549c-.23-.684-.252-1.515-.061-2.491zm2.285.119c-.166.844-.096 1.492.218 1.939.312.448.762.674 1.348.674.589 0 1.127-.224 1.611-.671.484-.448.813-1.103.982-1.957.163-.831.089-1.472-.22-1.92-.308-.447-.759-.673-1.347-.673-.585 0-1.125.223-1.612.671-.489.447-.817 1.095-.983 1.938l.003-.001zm9.555 4.253h-2.251l1.675-8.504h2.091l-.238 1.21c.471-.571.866-.948 1.188-1.13.32-.181.663-.272 1.025-.272.512 0 .979.143 1.4.424l-1.084 1.962c-.331-.244-.66-.368-.984-.368-.315 0-.602.087-.853.26-.251.173-.488.488-.7.94-.216.454-.467 1.406-.752 2.854l-.517 2.624zm9.809-8.504l-.355 1.794h-1.536l-.676 3.429c-.136.693-.2 1.098-.195 1.213a.385.385 0 0 0 .145.283c.09.075.21.113.359.113.207 0 .523-.072.948-.215l-.152 1.745a4.975 4.975 0 0 1-1.847.338c-.403 0-.758-.068-1.055-.205-.299-.137-.505-.312-.614-.527-.108-.217-.156-.512-.142-.879.004-.26.083-.791.239-1.586l.729-3.708h-1.032l.353-1.794h1.033l.333-1.69 2.518-1.313-.591 3.003h1.538v-.001z" fill-rule="evenodd" clip-rule="evenodd"/><path d="M147.166 104.748l.966-.092c0 .318.073.553.22.701.147.15.37.225.667.225.314 0 .564-.066.747-.199.183-.131.292-.287.325-.465a.396.396 0 0 0-.047-.293c-.053-.082-.157-.15-.314-.211a10.87 10.87 0 0 0-.742-.211c-.5-.129-.839-.289-1.015-.477-.248-.268-.337-.592-.267-.975.045-.246.156-.477.336-.691.179-.215.41-.377.693-.49.282-.109.61-.168.982-.168.607 0 1.039.133 1.297.4.258.266.355.621.289 1.064l-.984.045c.004-.25-.054-.43-.171-.537-.117-.109-.313-.164-.589-.164-.283 0-.516.059-.697.174a.448.448 0 0 0-.211.301.312.312 0 0 0 .092.293c.104.104.384.213.838.324s.784.229.99.348c.205.121.354.285.444.492s.108.465.052.77a1.7 1.7 0 0 1-.373.779c-.197.242-.449.422-.752.539s-.665.178-1.085.178c-.61 0-1.055-.143-1.331-.424-.275-.283-.396-.695-.36-1.236zm4.089 1.574l.131-.723 1.589-1.508c.261-.246.453-.422.574-.525a9.635 9.635 0 0 1-.427.014l-1.238.008.14-.77h2.896l-.12.656-1.622 1.545-.565.51c.261-.014.422-.021.483-.021h1.436l-.149.814h-3.128zm7.259-2.468l-.944.166c.003-.184-.043-.32-.135-.412-.091-.094-.225-.139-.398-.139-.23 0-.43.08-.596.238s-.283.428-.353.801c-.076.416-.06.709.049.881.108.17.28.256.515.256a.73.73 0 0 0 .461-.15c.129-.098.241-.271.33-.516l.884.156c-.172.418-.411.732-.718.947-.307.211-.687.318-1.138.318-.513 0-.892-.162-1.137-.484s-.316-.771-.211-1.344c.104-.576.341-1.027.705-1.35.363-.322.808-.484 1.329-.484.427 0 .749.092.968.277.218.182.348.464.389.839zm-.119 2.468l.132-.723 1.59-1.508c.26-.246.451-.422.573-.525a9.688 9.688 0 0 1-.428.014l-1.238.008.142-.77h2.895l-.119.656-1.622 1.545-.564.51c.259-.014.421-.021.481-.021h1.436l-.149.814h-3.129zm5.986-1.115l.896.154a1.965 1.965 0 0 1-.705.773 1.885 1.885 0 0 1-1.01.266c-.608 0-1.024-.199-1.244-.596-.172-.318-.215-.723-.126-1.209.107-.58.342-1.035.705-1.363.364-.33.778-.494 1.243-.494.52 0 .901.174 1.139.518.238.344.285.871.143 1.582H163.1c-.044.273-.008.49.106.641.114.152.279.23.493.23a.672.672 0 0 0 .388-.119.956.956 0 0 0 .294-.383zm.223-.937c.042-.268.011-.473-.096-.611a.523.523 0 0 0-.443-.211.772.772 0 0 0-.543.223 1.04 1.04 0 0 0-.304.6h1.386v-.001zm4.81-.416l-.944.166c.002-.184-.043-.32-.134-.412-.092-.094-.227-.139-.399-.139-.229 0-.43.08-.596.238s-.284.428-.352.801c-.076.416-.062.709.048.881.107.17.279.256.515.256.176 0 .33-.049.46-.15.13-.098.242-.271.331-.516l.883.156c-.17.418-.411.732-.718.947-.306.211-.687.318-1.138.318-.513 0-.892-.162-1.137-.484-.244-.322-.315-.771-.211-1.344.105-.576.342-1.027.705-1.35.365-.322.809-.484 1.329-.484.427 0 .751.092.968.277.219.182.349.464.39.839zm.982-1.51l.156-.859h.927l-.157.859h-.926zm-.728 3.978l.64-3.504h.928l-.642 3.504h-.926zm5.067 0h-.929l.327-1.789c.07-.377.094-.623.075-.732a.413.413 0 0 0-.146-.26.474.474 0 0 0-.304-.094c-.161 0-.312.045-.456.133s-.253.205-.327.35-.146.414-.219.805l-.29 1.588h-.927l.641-3.504h.862l-.095.514c.377-.395.799-.594 1.264-.594.203 0 .385.037.54.111a.726.726 0 0 1 .333.281.858.858 0 0 1 .109.391 2.89 2.89 0 0 1-.062.623l-.396 2.177zm2.868-1.574l.966-.092c-.001.318.072.553.22.701.147.15.371.225.667.225.313 0 .564-.066.748-.199.183-.131.292-.287.323-.465a.396.396 0 0 0-.046-.293c-.052-.082-.156-.15-.313-.211a11.155 11.155 0 0 0-.743-.211c-.5-.129-.838-.289-1.015-.477-.248-.268-.336-.592-.267-.975.045-.246.157-.477.336-.691s.41-.377.693-.49c.283-.109.61-.168.982-.168.606 0 1.04.133 1.298.4.258.266.354.621.288 1.064l-.983.045c.003-.25-.054-.43-.171-.537-.118-.109-.315-.164-.591-.164-.281 0-.515.059-.696.174a.448.448 0 0 0-.211.301.31.31 0 0 0 .092.293c.104.104.383.213.837.324.455.111.786.229.991.348.205.121.354.285.444.492.092.207.108.465.053.77a1.712 1.712 0 0 1-.374.779 1.777 1.777 0 0 1-.752.539 3.005 3.005 0 0 1-1.084.178c-.611 0-1.056-.143-1.331-.424-.276-.283-.398-.695-.361-1.236zm4.46 1.574l.169-.928h.927l-.168.928h-.928zm6.249 0h-1.062l-.221-1.1h-1.935l-.601 1.1h-1.034l2.769-4.838h1.032l1.052 4.838zm-1.449-1.914l-.339-1.795-.98 1.795h1.319zm1.962 1.914l.168-.928h.928l-.169.928h-.927z" fill-rule="evenodd" clip-rule="evenodd" fill="#cc2229"/><path d="M33.697 109.598l.885-4.836h1.567c.594 0 .978.023 1.148.072.264.072.467.23.609.473s.179.559.108.941a1.752 1.752 0 0 1-1.344 1.456c-.241.047-.584.07-1.026.07h-.637l-.334 1.824h-.976zm1.713-4.02l-.253 1.373h.536c.383 0 .646-.025.785-.074a.853.853 0 0 0 .348-.238.78.78 0 0 0 .18-.377c.032-.176.007-.32-.075-.434a.538.538 0 0 0-.354-.217c-.112-.021-.345-.031-.696-.031l-.471-.002zm5.022 2.904l.896.154c-.182.34-.417.598-.706.773a1.886 1.886 0 0 1-1.01.268c-.608 0-1.023-.199-1.244-.598-.172-.318-.214-.723-.125-1.207.106-.58.341-1.035.705-1.365a1.806 1.806 0 0 1 1.242-.494c.521 0 .901.174 1.14.518.237.344.286.871.142 1.582H39.15c-.043.275-.008.49.107.641.115.152.28.23.492.23a.673.673 0 0 0 .389-.119.939.939 0 0 0 .294-.383zm.225-.937c.042-.268.009-.473-.097-.611s-.255-.209-.443-.209a.774.774 0 0 0-.542.221c-.159.146-.26.348-.305.602l1.387-.003zm1.269 2.053l.885-4.836h.927l-.47 2.566 1.311-1.234h1.142l-1.432 1.281.877 2.223h-1l-.593-1.574-.515.453-.205 1.121h-.927zm4.931-2.436l-.814-.15c.156-.34.367-.59.627-.752.26-.162.618-.246 1.074-.246.412 0 .712.049.896.146.185.1.305.225.359.375.055.15.046.428-.028.828l-.208 1.082c-.056.309-.083.535-.08.682s.031.305.08.471h-.917a3.502 3.502 0 0 1-.039-.273 1.07 1.07 0 0 0-.013-.109c-.187.152-.377.27-.571.346a1.597 1.597 0 0 1-.599.117c-.36 0-.627-.098-.798-.295-.173-.195-.231-.443-.176-.742a1.184 1.184 0 0 1 .701-.884c.185-.082.445-.156.777-.217.448-.082.763-.158.942-.229l.017-.092c.033-.178.012-.305-.062-.381-.072-.076-.232-.113-.477-.113-.165 0-.3.031-.404.096s-.2.18-.287.344v-.004zm1.104.754c-.126.037-.324.086-.591.141s-.447.109-.535.162a.485.485 0 0 0-.241.326.398.398 0 0 0 .083.338c.08.094.195.141.344.141a.93.93 0 0 0 .508-.166.747.747 0 0 0 .278-.305c.038-.08.078-.23.119-.453l.035-.184zm3.751.566l.895.154c-.18.34-.416.598-.704.773a1.888 1.888 0 0 1-1.01.268c-.609 0-1.025-.199-1.244-.598-.172-.318-.215-.723-.125-1.207.107-.58.342-1.035.705-1.365a1.806 1.806 0 0 1 1.242-.494c.521 0 .902.174 1.14.518.238.344.285.871.142 1.582H50.43c-.043.275-.007.49.107.641.115.152.28.23.493.23a.67.67 0 0 0 .388-.119.947.947 0 0 0 .294-.383zm.224-.937c.042-.268.01-.473-.096-.611a.528.528 0 0 0-.444-.209.774.774 0 0 0-.541.221c-.159.146-.26.348-.305.602l1.386-.003zm1.159 1.053l.956-.143c.006.182.062.318.165.412.104.094.265.141.483.141.239 0 .429-.045.566-.133a.371.371 0 0 0 .167-.246.223.223 0 0 0-.034-.178c-.038-.043-.134-.082-.288-.121-.718-.164-1.164-.316-1.338-.451-.244-.189-.334-.453-.272-.787.055-.305.222-.561.5-.768.277-.205.67-.311 1.173-.311.479 0 .822.08 1.026.234.205.156.323.389.355.693l-.904.162a.414.414 0 0 0-.156-.312c-.091-.072-.233-.109-.426-.109-.245 0-.426.033-.544.102a.277.277 0 0 0-.14.189.169.169 0 0 0 .061.166c.073.061.347.15.819.262.474.111.793.25.958.412.164.164.219.395.165.689-.059.32-.244.598-.554.828-.312.23-.729.348-1.254.348-.477 0-.839-.098-1.081-.291a1.053 1.053 0 0 1-.403-.788zm8.365-.78l.148-.814h2.105l-.353 1.928c-.24.197-.569.373-.984.523a3.64 3.64 0 0 1-1.222.225c-.505 0-.927-.105-1.264-.318a1.562 1.562 0 0 1-.682-.91 2.754 2.754 0 0 1-.047-1.287c.092-.506.279-.953.562-1.344s.648-.691 1.092-.9c.339-.16.741-.24 1.202-.24.601 0 1.047.125 1.338.377s.445.6.46 1.043l-1.002.182a.818.818 0 0 0-.282-.561c-.163-.139-.385-.207-.666-.207-.427 0-.792.135-1.093.406-.301.27-.501.672-.598 1.203-.105.574-.056 1.006.147 1.291.202.287.51.432.923.432.204 0 .418-.041.637-.121.221-.08.416-.178.584-.291l.113-.615H61.46v-.002zm3.562 1.78h-.927l.641-3.504h.862l-.092.498c.19-.234.352-.391.483-.465s.272-.113.421-.113c.212 0 .404.059.578.176l-.434.809a.683.683 0 0 0-.408-.152.613.613 0 0 0-.35.107c-.104.072-.198.201-.283.389-.085.186-.184.578-.292 1.174l-.199 1.081zm1.861-1.803c.056-.307.187-.604.39-.893.205-.287.46-.508.766-.66.306-.152.632-.229.974-.229.53 0 .933.174 1.209.518.275.344.366.779.27 1.305-.098.529-.349.971-.755 1.318s-.869.523-1.388.523c-.321 0-.614-.074-.879-.219a1.14 1.14 0 0 1-.547-.639c-.1-.281-.114-.621-.04-1.023v-.001zm.941.051c-.063.346-.029.613.101.797a.644.644 0 0 0 .56.279.95.95 0 0 0 .659-.277c.198-.186.329-.453.394-.805.062-.344.028-.607-.101-.791a.64.64 0 0 0-.558-.279.956.956 0 0 0-.661.277c-.199.185-.33.453-.394.799zm5.379 1.752l.095-.525a1.731 1.731 0 0 1-.583.443 1.641 1.641 0 0 1-.689.162c-.233 0-.436-.053-.604-.156a.702.702 0 0 1-.326-.434c-.05-.188-.044-.447.016-.777l.406-2.217h.927l-.294 1.609c-.09.492-.128.797-.115.906.014.111.06.199.138.264a.503.503 0 0 0 .326.098.85.85 0 0 0 .449-.129.883.883 0 0 0 .317-.324c.069-.129.151-.445.242-.945l.271-1.479h.927l-.642 3.504h-.861zm2.438-3.504h.864l-.094.516a1.68 1.68 0 0 1 .533-.43c.211-.111.435-.166.667-.166.406 0 .723.16.948.479.225.32.286.766.182 1.334-.107.584-.334 1.039-.678 1.363-.346.324-.722.488-1.129.488-.193 0-.362-.039-.504-.117a1.334 1.334 0 0 1-.425-.396l-.323 1.766h-.927l.886-4.837zm.607 1.691c-.072.395-.047.686.074.873a.582.582 0 0 0 .519.283.81.81 0 0 0 .585-.26c.175-.172.298-.455.37-.85.068-.365.043-.639-.071-.816a.56.56 0 0 0-.499-.27c-.226 0-.43.09-.611.264-.182.174-.305.434-.368.777l.001-.001z" fill-rule="evenodd" clip-rule="evenodd"/><path fill="#cc2229" d="M36.363 101.957h89.22v-1.355h-89.22v1.355zM81.737 109.561h106.14v-1.356H81.737v1.356z"/></svg>
        </a>
        <a href="#" class="flex justify-center items-center">
          <svg id="svg3336" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 157.4" width="2500" height="80"><style>.st0{fill:#d61a0c}.st1{fill:#e08600}.st2{fill:#fefefe}</style><g id="g3344" transform="matrix(1.25 0 0 -1.25 -494.464 1044.022)"><g id="g4680" transform="translate(0 60.976)"><path id="path4670" class="st0" d="M704 653.1h1.5v6.3h2.1v1.6h-5.7v-1.6h2.1v-6.3z"/><path id="path4618" class="st0" d="M708.7 653.1h1.5v5.1l1.9-3.3 1.9 3.3v-5.1h1.5v7.8h-1.6l-1.8-3.3-1.8 3.3h-1.6v-7.8z"/><path id="path4620" class="st0" d="M400.4 672.5h295v96.9h-295v-96.9z"/><path id="path4622" class="st1" d="M400.4 653.1h295v14.5h-295v-14.5z"/><path id="path4665" class="st2" d="M524.3 727.5c-5.8 0-9.8-4.6-9.8-10.1 0-5.6 4-10.1 9.8-10.1 3.9 0 6.9 2.1 8.8 5l7.2-4.7c-3.3-5.4-9.1-8.9-16.1-8.9-10.9 0-18.9 8.2-18.9 18.7s8 18.7 18.9 18.7c7.1 0 12.9-3.3 16.2-8.8l-7.3-4.8c-2 3-4.8 5-8.8 5z"/><path id="path4663" class="st2" d="M443.8 727.5c-5.8 0-9.8-4.6-9.8-10.1 0-5.6 4-10.1 9.8-10.1 3.9 0 6.9 2.1 8.8 5l7.2-4.7c-3.3-5.4-9.1-8.9-16.1-8.9-10.9 0-18.9 8.2-18.9 18.7s8 18.7 18.9 18.7c7 0 12.9-3.3 16.2-8.8l-7.3-4.8c-2.1 3-4.9 5-8.8 5z"/><path id="path4661" class="st2" d="M476 735.3v-36.1h9.3v15.1l9.7-15.1h10.9l-9.2 13.8c3.7 1.5 6.7 5.1 6.7 10.4 0 7.9-5.6 11.9-15.8 11.9H476zm9.3-7.6h2.7c3.8 0 6.2-1.6 6.2-5.3 0-3.8-2.6-5.6-6.3-5.6h-2.6v10.9z"/><path id="path4659" class="st2" d="M647.9 718l12.8 17.3h-13.1l-11.8-16.6v16.6h-11.5v-36.1h11.5v16.6l20.4-26.4c-5-3.1-11.1-4.9-17.6-4.9-18.6 0-32.7 14.1-32.7 32.7s14.1 32.7 32.7 32.7 32.7-14.1 32.7-32.7c0-7.8-2.5-14.8-6.7-20.3L647.9 718z"/><path id="path4657" class="st2" d="M567.6 735.3h23.7v-8.2h-14.4v-6h13.8v-7.6h-13.8v-6.1h14.5v-8.2h-23.7v36.1h-.1z"/><path id="path4655" class="st2" d="M552.1 707.5h12.5v-8.2h-21.9v36.1h9.4v-27.9z"/><path id="path4624" class="st2" d="M462.4 735.3h9.3v-36.1h-9.3v36.1z"/><path id="path4626" class="st2" d="M400.4 667.7h295v4.8h-295v-4.8z"/><path id="path4628" class="st2" d="M695.4 769.4h-295V653.1h295v116.3zm-299.8 4.8h304.7v-126H395.6v126z"/></g></g></svg>
        </a>
        <a href="#" class="flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="2500" height="120" viewBox="0 0 192.756 192.756"><g fill-rule="evenodd" clip-rule="evenodd"><path fill="#fff" d="M0 0h192.756v192.756H0V0z"/><path d="M93.115 60.019c0-.768-.511-1.108-1.193-1.108h-4.177c-1.62 0-2.813.853-2.813 2.813v35.975c0 .768.511 1.109 1.193 1.109h4.177c1.705 0 2.813-.854 2.813-2.899v-35.89zM140.686 73.147c.17-.341.34-.682.34-1.023 0-.682-.426-.938-1.107-.938h-5.115c-1.023 0-1.535.341-1.875 1.108l-7.162 15.942-9.975-15.771c-.596-.938-1.277-1.279-2.729-1.279h-6.051c-1.279 0-1.961.256-2.729 1.108L93.626 83.718l9.547 13.897c.598.852 1.023 1.193 1.877 1.193h5.711c.854 0 1.363-.342 1.363-1.023 0-.512-.256-.768-.51-1.193l-8.441-12.447 6.395-6.82L122.1 95.909l-5.541 11.765c-.086.342-.256.682-.256 1.023 0 .682.426 1.021 1.109 1.021h5.029c1.023 0 1.535-.426 1.875-1.193l16.37-35.378zM66.517 80.649c-1.62-.341-2.131-.767-2.131-1.62 0-.682.512-1.194 1.961-1.194h12.191c2.046 0 2.898-1.193 2.898-2.813v-2.728c0-.597-.341-1.108-1.108-1.108H66.005c-6.394 0-9.719 3.666-9.719 8.354 0 4.177 2.558 6.735 7.673 7.843l8.269 1.875c1.62.341 2.131.852 2.131 1.705 0 .597-.512 1.108-1.961 1.108H59.612c-2.046 0-2.813 1.194-2.813 2.899v2.644c0 .682.255 1.193 1.108 1.193h13.981c7.501 0 10.571-3.667 10.571-8.1 0-4.518-2.643-6.991-7.758-8.184l-8.184-1.874zM8.12 128.135c0 1.107-1.193 1.449-1.96 1.449-.597 0-1.535-.172-1.535-.939 0-.938.682-1.193 1.364-1.363.767-.086 1.62-.086 2.131-.426v1.279zm1.705-3.155c0-1.621-1.535-2.303-3.069-2.303-1.79 0-3.495.598-3.581 2.643H4.88c.085-.852.767-1.279 1.705-1.279.767 0 1.62.172 1.62 1.109 0 1.023-1.108.852-2.302 1.107-1.449.172-3.069.512-3.069 2.473 0 1.535 1.279 2.217 2.729 2.217.938 0 2.046-.256 2.728-.938.085.768.597.938 1.279.938.341 0 .852-.086 1.108-.17v-1.193h-.426c-.256 0-.426-.172-.426-.598v-4.006h-.001zM16.73 126.941c0-1.451.597-2.9 2.217-2.9 1.364 0 2.216 1.109 2.216 2.814 0 1.363-.682 2.729-2.216 2.729-1.534 0-2.217-1.279-2.217-2.643zm6.053-6.992h-1.705v4.008h-.085c-.512-.854-1.62-1.279-2.558-1.279-1.705 0-3.41 1.279-3.41 4.092 0 2.387 1.194 4.178 3.666 4.178 1.023 0 1.961-.342 2.473-1.279v1.109h1.62v-10.829h-.001zM24.574 130.777v-7.844h1.79v7.844h-1.79zm0-9.207v-1.621h1.79v1.621h-1.79zM31.479 129.412c-1.45 0-2.046-1.277-2.046-2.643 0-1.279.512-2.729 2.046-2.729 1.534 0 2.131 1.279 2.131 2.645 0 1.364-.597 2.727-2.131 2.727zm3.836-6.478H33.61v1.107c-.511-.938-1.364-1.363-2.387-1.363-2.216 0-3.495 1.875-3.495 4.008 0 2.215 1.022 4.092 3.495 4.092.938 0 1.875-.512 2.387-1.365v1.193c0 1.279-.597 1.961-2.046 1.961-.853 0-1.62-.17-1.875-1.107h-1.705c.17 1.789 1.875 2.387 3.495 2.387 2.472 0 3.836-1.107 3.836-3.496v-7.417zM37.02 130.777v-7.844h1.705v7.844H37.02zm0-9.207v-1.621h1.705v1.621H37.02zM39.663 122.934h1.364v-2.387h1.705v2.387h1.535v1.279h-1.535v4.176c0 .768.085 1.109.853 1.109.256 0 .426 0 .682-.086v1.365c-.341 0-.682.084-1.108.084-1.791 0-2.131-.682-2.131-2.045v-4.604h-1.364v-1.278h-.001zM50.234 128.135c0 1.107-1.193 1.449-1.961 1.449-.597 0-1.534-.172-1.534-.939 0-.938.682-1.193 1.364-1.363.767-.086 1.62-.086 2.131-.426v1.279zm1.705-3.155c0-1.621-1.535-2.303-3.069-2.303-1.79 0-3.495.598-3.58 2.643h1.705c.085-.852.767-1.279 1.705-1.279.767 0 1.62.172 1.62 1.109 0 1.023-1.108.852-2.302 1.107-1.449.172-3.068.512-3.068 2.473 0 1.535 1.278 2.217 2.728 2.217.938 0 2.046-.256 2.728-.938.085.768.597.938 1.279.938.341 0 .853-.086 1.108-.17v-1.193h-.427c-.255 0-.426-.172-.426-.598v-4.006h-.001zM53.729 130.777v-10.828h1.791v10.828h-1.791zM60.293 122.934h1.876l1.96 6.052 1.961-6.052h1.791l-2.814 7.843h-1.96l-2.814-7.843zM68.818 130.777v-7.844h1.791v7.844h-1.791zm0-9.207v-1.621h1.791v1.621h-1.791zM73.592 128.219c.085 1.023.853 1.365 1.791 1.365.682 0 1.79-.086 1.79-1.023-.085-.854-1.364-1.023-2.557-1.279-1.279-.256-2.558-.768-2.558-2.301 0-1.705 1.875-2.303 3.325-2.303 1.535 0 2.984.682 3.24 2.473h-1.791c-.17-.854-.853-1.109-1.62-1.109-.512 0-1.449.172-1.449.854 0 .852 1.278.938 2.558 1.279 1.278.256 2.557.682 2.557 2.301 0 1.791-1.875 2.473-3.495 2.473-1.961 0-3.495-.854-3.495-2.729h1.704v-.001zM80.157 130.777v-7.844h1.705v7.844h-1.705zm0-9.207v-1.621h1.705v1.621h-1.705zM87.233 129.584c-1.62 0-2.302-1.365-2.302-2.729 0-1.365.682-2.814 2.302-2.814 1.534 0 2.216 1.449 2.216 2.814 0 1.364-.682 2.729-2.216 2.729zm0 1.363c2.472 0 3.921-1.705 3.921-4.092s-1.449-4.178-3.921-4.178c-2.558 0-4.007 1.791-4.007 4.178s1.449 4.092 4.007 4.092zM92.433 122.934h1.705v1.193c.512-.852 1.45-1.449 2.472-1.449 1.705 0 2.728.938 2.728 2.729v5.371h-1.705v-4.945c0-1.193-.512-1.791-1.534-1.791-1.193 0-1.875.939-1.875 2.133v4.604h-1.791v-7.845zM104.111 122.934h1.279v-.682c0-1.961 1.023-2.303 2.131-2.303.598 0 .938 0 1.193.086v1.363c-.17-.084-.426-.084-.766-.084-.512 0-.854.17-.854.766v.854h1.449v1.279h-1.449v6.564h-1.705v-6.564h-1.279v-1.279h.001zM113.062 129.584c-1.533 0-2.215-1.365-2.215-2.729 0-1.365.682-2.814 2.215-2.814 1.621 0 2.303 1.449 2.303 2.814 0 1.364-.681 2.729-2.303 2.729zm0 1.363c2.559 0 4.008-1.705 4.008-4.092s-1.449-4.178-4.008-4.178c-2.471 0-3.92 1.791-3.92 4.178s1.45 4.092 3.92 4.092zM118.35 122.934h1.619v1.535h.086c.17-.854 1.193-1.791 2.301-1.791.342 0 .426.086.598.086v1.705c-.256-.086-.512-.086-.682-.086-1.195 0-2.133.938-2.133 2.643v3.752h-1.789v-7.844zM128.75 126.174c0-1.193.852-2.133 2.045-2.133s1.961 1.023 1.961 2.133h-4.006zm5.797 1.107c.256-2.301-1.279-4.604-3.752-4.604-2.301 0-3.75 1.961-3.75 4.178 0 2.387 1.363 4.092 3.836 4.092 1.705 0 3.154-.938 3.496-2.643h-1.621c-.34.852-.938 1.279-1.875 1.279-1.449 0-2.131-1.023-2.131-2.303h5.797v.001zM134.887 122.934h1.961l1.961 6.052 1.961-6.052h1.791l-2.815 7.843h-1.961l-2.898-7.843zM144.777 126.174c.084-1.193.852-2.133 2.045-2.133s1.961 1.023 2.047 2.133h-4.092zm5.797 1.107c.256-2.301-1.279-4.604-3.752-4.604-2.301 0-3.75 1.961-3.75 4.178 0 2.387 1.363 4.092 3.836 4.092 1.705 0 3.154-.938 3.58-2.643h-1.705c-.256.852-.852 1.279-1.875 1.279-1.449 0-2.131-1.023-2.131-2.303h5.797v.001zM151.768 122.934h1.619v1.535c.256-.854 1.279-1.791 2.303-1.791.426 0 .51.086.682.086v1.705c-.256-.086-.512-.086-.768-.086-1.193 0-2.131.938-2.131 2.643v3.752h-1.705v-7.844zM156.711 122.934h1.877l2.045 5.883h.086l1.961-5.883h1.789l-3.068 8.27c-.512 1.363-.938 2.643-2.729 2.643-.426 0-.852 0-1.193-.086v-1.449c.256.086.512.172.768.172.852 0 1.023-.428 1.279-1.109l.17-.596-2.985-7.845zM168.902 129.584c-1.535 0-2.217-1.365-2.217-2.729 0-1.365.682-2.814 2.217-2.814s2.217 1.449 2.217 2.814c0 1.364-.681 2.729-2.217 2.729zm0 1.363c2.557 0 4.008-1.705 4.008-4.092s-1.451-4.178-4.008-4.178c-2.473 0-3.922 1.791-3.922 4.178s1.45 4.092 3.922 4.092zM174.188 122.934h1.621v1.107l.084.086c.512-.852 1.365-1.449 2.387-1.449 1.705 0 2.814.938 2.814 2.729v5.371h-1.705v-4.945c-.086-1.193-.512-1.791-1.535-1.791-1.193 0-1.961.939-1.961 2.133v4.604h-1.705v-7.845zM184.162 126.174c0-1.193.854-2.133 2.047-2.133s1.875 1.023 1.961 2.133h-4.008zm5.713 1.107c.34-2.301-1.193-4.604-3.666-4.604-2.389 0-3.836 1.961-3.836 4.178 0 2.387 1.447 4.092 3.836 4.092 1.789 0 3.238-.938 3.58-2.643h-1.619c-.342.852-.939 1.279-1.961 1.279-1.449 0-2.047-1.023-2.047-2.303h5.713v.001z" fill="#2f3f74"/></g></svg>
        </a>

        <a href="#" class="flex justify-center items-center">
         <svg height="80" viewBox="-517 383.6 188.5 27.5" width="2500" xmlns="http://www.w3.org/2000/svg"><path d="m-445.2 384.2h-6.9v21.6h16.2v-5.7h-9.3z"/><path d="m-419 397.6c-.2-4.7-3.6-7.9-8.5-7.9-5.1 0-8.7 3.4-8.7 8.3s3.5 8.3 8.6 8.3c5 0 8.6-3.4 8.6-8.2.1-.2 0-.3 0-.5zm-8.6 4.4c-1.7 0-2.5-1.4-2.5-4s.8-4 2.5-4c1.8 0 2.8 1.4 2.8 4 0 2.7-1 4-2.8 4z"/><path d="m-408 392c-1.1-1.7-2.2-2.3-4.3-2.3-4 0-6.6 3.4-6.7 7.9v.4c.1 4.4 2.6 7 6.7 7 1.9 0 3.1-.6 4.3-1.9v1.7c0 2.2-.6 3-2.4 3s-2.1-.6-2.4-2h-5.6c.5 3.9 2.1 5.3 8 5.3 3.7 0 5.9-.9 7.2-3 .7-1.1 1-2.2 1-4.2v-13.6h-5.9zm-2.4 8.9c-1.8 0-2.6-1.2-2.6-3.3 0-1.9.9-3.5 2.6-3.5s2.6 1.7 2.6 3.8c0 1.9-.9 3-2.6 3z"/><path d="m-419 397.6v.4-.1c.1-.1.1-.2 0-.3zm24.3 2.5v-10h-6.1v15.6h6.1zm21.9-15.9-6.2 5.9v10.5c0 1.8.1 2.4.6 3.2.8 1.6 2.5 2.2 5.6 2.2 1 0 2.8-.1 4.3-.2v-4.2h-2c-2 0-2.2-.3-2.3-2.1v-4.8h4.3v-4.5h-4.3zm5.7 5.9h6.1v15.6h-6.1zm14.7 11.8c-1.7 0-2.6-1.4-2.6-3.7 0-2.7.9-4.2 2.6-4.2 1.2 0 2 .9 2.2 2.1h5.8c-.3-3.8-3.5-6.3-8-6.3-5.2 0-8.6 3.3-8.6 8.3 0 4.8 3.5 8.1 8.6 8.1 4.6 0 7.6-1.9 8.2-6.1h-5.8c-.3 1.5-1.5 1.8-2.4 1.8z"/><path d="m-334.6 395.7c-3.1-.5-3.4-.7-3.4-1.5 0-.6.5-1 1.6-1 1.4 0 1.8.3 2 1.4h5.5c-.3-3.5-2.7-5-7.7-5-4.8 0-7.4 1.8-7.4 5 0 1.6.7 2.9 2 3.6 1 .6 1.8.8 4.6 1.4 2.9.6 3 .9 3 1.6 0 .8-.8 1.3-1.9 1.3-2.1 0-2.2-1.1-2.3-2.4h-5.7c.3 3.8 2.1 6.1 7.9 6.1 5 0 7.9-2 7.9-5.5 0-.7-.2-1.5-.5-2.1-.6-1.5-2.2-2.3-5.6-2.9zm-52.2 10.4c5 0 7.9-2 7.9-5.5 0-.7-.2-1.5-.5-2.1-.7-1.4-2.3-2.3-5.7-2.9-3.1-.6-3.4-.7-3.4-1.5 0-.6.5-1 1.6-1 1.4 0 1.8.4 2 1.4h5.5c-.3-3.4-2.7-5-7.7-5-4.8 0-7.4 1.8-7.4 5 0 1.6.7 2.9 2 3.6 1 .6 1.8.8 4.6 1.4 2.9.6 3 .9 3 1.6 0 .8-.8 1.3-1.9 1.3-2.1 0-2.1-1.1-2.3-2.4h-5.7v.1c.4 3.7 2.2 6 8 6z"/><g fill="#c00"><path d="m-493.8 384.2h-7.9s-3.2 5.2-3.6 6c-.5-1.1-4-6-4-6h-7.7l7.8 10.1-7.8 11.4h7.9l1.8-3.4c.7-1.1 1.3-2.3 1.7-3.2.5 1.2.8 1.9 1.6 3.1l2.1 3.5h8l-7.8-11.4z"/><path d="m-478.1 385.5c-1.5-1-3.1-1.3-6.6-1.3h-9.1v21.6h6.8v-6.6h3.9c2.9 0 4.6-.6 6-2s2.1-3.2 2.1-5.3c0-2.8-1.1-5.1-3.1-6.4zm-6.3 8.5h-2.6v-4.5h2.5c1.9 0 2.9.7 2.9 2.3 0 1.5-.9 2.3-2.8 2.2z"/><path d="m-464.1 383.6c-6.7 0-11.1 4.5-11.1 11.3s4.4 11.3 11 11.3c6.5 0 10.9-4.5 10.9-11.3 0-6.7-4.3-11.3-10.8-11.3zm-.1 17.4c-2.8 0-4.1-2.2-4.1-6.1 0-3.7 1.5-5.9 4.1-5.9s4 2.1 4 5.8c0 4-1.3 6.2-4 6.2z"/></g></svg>
        </a>
        <a href="#" class="flex justify-center items-center">
         
         <svg xmlns="http://www.w3.org/2000/svg" width="2500" height="40" viewBox="-0.028 -0.068 300.092 82.816"><path fill="#104076" d="M143.281 65.378c-13.674 0-25.943-7.766-25.943-18.625 0-10.863 12.27-18.637 26.041-18.637 5.987 0 11.578 1.511 17.658 4.902l-4.286 5.506c-3.896-1.884-8.485-3.013-13.372-3.013-5.789 0-12.474 3.241-12.474 11.241 0 7.995 6.587 11.234 12.474 11.234 4.887 0 9.575-.979 13.565-2.717l4.293 5.81c-5.088 2.721-11.276 4.299-17.956 4.299M221.386 65.236c13.766 0 26.041-7.769 26.041-18.624 0-10.864-12.275-18.638-26.041-18.638-13.771 0-26.047 7.773-26.047 18.638 0 10.856 12.276 18.624 26.047 18.624zm12.473-18.624c0 7.994-6.684 11.233-12.473 11.233-5.792 0-12.474-3.239-12.474-11.233 0-8.003 6.682-11.242 12.474-11.242 5.789 0 12.473 3.239 12.473 11.242M252.969 64.337h12.861v-22.18c0-2.995 2.326-6.52 6.488-6.543 2.907.023 5.697 2.013 5.697 4.537l-.026 24.186h12.895V39.466c0-6.551-7.022-12.019-15.4-12.019-.083 0-.162.011-.244.013-.083-.002-.162-.013-.242-.013a17.775 17.775 0 0 0-9.432 2.702c-.023-.096-.746-2.474-12.597-2.474v36.662M98.555 64.337h12.599V28.885H98.555v35.452zM167.244 64.337h12.604V42.838c0-3.396 3.987-6.113 8.28-6.113 2.098 0 4.072.42 5.73 1.154v-9.323a30.861 30.861 0 0 0-4.507-.35c-3.378 0-6.766.979-9.539 2.624-.206-.419-1.751-2.4-12.568-2.4v35.907M74.519 50.206l-.002 14.134h12.902V38.535c-3.738 3.855-8.049 7.781-12.9 11.671"/><path fill="#104076" d="M87.419 38.535c14.208-14.658 20.093-28.283 15.512-34.841C98.149-3.155 83.293-.38 64.036 9.795a17.49 17.49 0 0 0-2.188 1.257c-.93.646-.388 1.115.299.866a23.174 23.174 0 0 0 2.411-1.008c14.435-6.846 25.694-8.074 30.095-3.296 6.707 7.278-7.028 31.129-30.812 48.771-3.175 2.354-8.075 5.802-11.266 7.717-.216.134-.429.266-.637.398-.844.553-1.595 1.067-2.186 1.53-.576.447-.465 1.159.573.712.633-.27 1.401-.679 2.219-1.18.185-.113.367-.216.561-.335 3.586-2.177 8.91-5.853 12.547-8.393a169.908 169.908 0 0 0 8.866-6.63c4.852-3.888 9.163-7.816 12.901-11.669"/><path fill="#104076" d="M24.085 82.748h12.902v-13.37a195.243 195.243 0 0 0 10.606-6.764c.789-.542 1.488-1.082 1.995-1.545.835-.764.23-1.156-.414-.817-.663.35-1.447.822-2.296 1.362-19.93 12.748-33.385 16.638-38.353 9.893-4.316-5.856 2.758-17.178 15.561-29.964V71.22c3.632-1.233 7.925-3.2 12.899-5.966l-.003-27.535 2.838 6.039c3.111 6.668 8.756 10.655 15.934 10.655 7.175 0 12.82-3.987 15.931-10.655l2.838-6.039-.003 7.025c4.617-4.478 8.559-8.948 11.548-13.272.373-.534.34-.984.137-1.478a12.338 12.338 0 0 0-11.145-7.013c-4.866 0-9.092 2.822-11.118 6.904l-5.4 11.455c-.558 1.115-1.586 1.734-2.789 1.734-1.2 0-2.234-.619-2.792-1.734l-5.398-11.453a12.47 12.47 0 0 0-4.589-5.041c3.949-3.134 7.787-5.933 11.566-8.227a23.716 23.716 0 0 0 2.156-1.498c.584-.445.476-1.157-.565-.72-.633.265-1.452.668-2.272 1.167-3.861 2.339-7.808 4.732-11.581 7.311-.458.312-.91.625-1.362.938a12.305 12.305 0 0 0-4.471-.835 12.346 12.346 0 0 0-12.359 12.362v1.701C5.859 53.298-3.71 69.39 1.29 76.555c3.671 5.254 12.376 4.041 22.795-.486v6.679M295.813 31.974h.468c.532 0 .981-.193.981-.691 0-.355-.257-.71-.981-.71-.211 0-.355.016-.468.031v1.37zm0 2.24h-.646V30.17c.339-.046.66-.095 1.146-.095.611 0 1.013.128 1.255.306.241.177.369.449.369.835 0 .532-.354.854-.789.984v.031c.355.064.597.389.677.982.098.627.192.871.257 1h-.676c-.096-.129-.193-.499-.272-1.031-.096-.517-.355-.709-.872-.709h-.449v1.741zm.676-5.17c-1.594 0-2.897 1.367-2.897 3.059 0 1.723 1.304 3.075 2.913 3.075 1.611.018 2.899-1.353 2.899-3.06s-1.288-3.074-2.899-3.074h-.016zm.015-.566c1.981 0 3.56 1.611 3.56 3.624 0 2.047-1.578 3.641-3.575 3.641-1.979 0-3.589-1.594-3.589-3.641 0-2.013 1.609-3.624 3.589-3.624h.015"/></svg>


        </a>
        <a href="#" class="flex justify-center items-center">
          <svg height="40" viewBox=".722 11.413 45.543 6.441" width="250" xmlns="http://www.w3.org/2000/svg"
            ><g fill="#d80613"
              ><path
                d="m8.731 11.413-1.455 1.977h7.93c.401 0 .396.151.2.418-.199.27-.532.737-.735 1.012-.103.139-.289.392.327.392h3.243l.961-1.306c.596-.809.052-2.492-2.079-2.492z"
              ></path><path
                d="m6.687 17.854 2.923-3.972h3.627c.401 0 .396.152.2.418l-.74 1.008c-.103.139-.289.392.327.392h4.858c-.403.554-1.715 2.154-4.067 2.154zm16.738-2.155-1.585 2.155h-4.181l1.585-2.155zm6.404-.488h-10.225l2.796-3.798h4.179l-1.602 2.178h1.865l1.604-2.178h4.179zm-.359.488-1.585 2.155h-4.179l1.585-2.155zm-28.748.85h6.158l-.336.457h-5.822zm0-.85h6.784l-.337.457h-6.447zm0 1.7h5.533l-.335.455h-5.198zm45.543-.393h-6.136l.337-.457h5.799zm0 .848h-6.759l.334-.455h6.425zm-5.174-2.155h5.174v.458h-5.51zm-2.678-4.286-2.796 3.798h-4.429l2.798-3.798zm-7.583 4.286s-.305.418-.454.618c-.524.71-.061 1.536 1.652 1.536h6.712l1.585-2.154z"
              ></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </section>
  <Testimonials
    title="¿Qué dicen nuestros clientes?"
    testimonials={[
      {
        testimonial: `Trabajar con SolutionTracker ha sido una experiencia increíble. El rastreo satelital confiable y el equipo de soporte siempre dispuesto a ayudar hacen que gestionar nuestra flota sea más fácil que nunca. ¡Son nuestro socio confiable en cada viaje!"`,
        name: 'María G.',
        job: 'Empresaria de transporte ',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `La eficiencia es clave en nuestro negocio y SolutionTracker lo entiende perfectamente. El Plan Bronce ha transformado nuestra operación con alertas personalizadas y un historial de rutas detallado. ¡Trabajar con ellos ha sido una decisión acertada para el éxito de nuestra flota!`,
        name: 'Luis M.',
        job: 'Dueño de Flota de Motos',
        image: {
          src: 'https://images.prismic.io/simpliroute/6e1ca6a6-9fa9-488b-a9d4-bbb173865804_home+delivery.jpg?auto=compress%2Cformat&fit=max&w=1920&q=100',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'Desde que implementamos el Plan Plata de SolutionTracker, la gestión de nuestra flota nunca ha sido tan fácil. Control de combustible, mantenimiento programado e integración avanzada nos han permitido optimizar costos y mejorar la eficiencia operativa. ¡Altamente recomendados!',
        name: 'Pablo A.',
        job: 'Gerente de logística',
        image: {
          src: 'https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgnZRgdw3riM9gXVBZICcaVzNQbiQDvEpmWP4TnCEOPJRoFklyOwf9wO-Ksm53v6SQ6vGj8zZMpWeLhofTTLr-ZA-gAtFaIu6X5WPW01Wa_jtu2wg_he9AIDoJ60WwoM4-0R0DQ-lnPwrvQNJBEH9xtyd9IpBsMeoAHroLzgMJjgyu9It4JHOLOaQ2r/s16000/12%20habilidades%20importantes%20del%20gerente%20de%20log%C3%ADstica,%20y%20sus%20funciones%20en%20una%20organizaci%C3%B3n.jpg',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
  />

  <section class="bg-white dark:bg-gray-900 py-10" id="contacto">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contáctanos</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
        ¿Quieres que un asesor se comunique contigo? Déjanos tus datos
      </p>
      <form action="#" class="space-y-8">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre</label>
          <input
            type="text"
            id="name"
            class="shadow-sm bg-gray-50 border border-lime-400 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Tu nombre"
            required
          />
        </div>
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Correo</label>
          <input
            type="email"
            id="email"
            class="shadow-sm bg-gray-50 border border-lime-400 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="tucorreo@solutiontracker.ec"
            required
          />
        </div>
        <div>
          <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Teléfono</label>
          <input
          type="number"
            id="subject1"
            class="shadow-sm bg-gray-50 border border-lime-400 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Tu teléfono"
            required
          />
        </div>
        <div>
          <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Asunto</label>
          <input
            type="text"
            id="subject"
            class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-lime-400 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Como podemos ayudarte"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Tu mensaje</label
          >
          <textarea
            id="message"
            rows="6"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-lime-400 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Deja tu comentario..."></textarea>
        </div>
        <button
          type="submit"
          class="py-3 px-5 text-sm font-medium align-items-center text-center text-white rounded-lg bg-lime-500 sm:w-fit hover:bg-lime-600 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >Enviar formulario</button
        >
      </form>
    </div>
  </section>

  <!-- callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }} -->

  <!-- FAQs Widget ******************* -->
  <div class="container my--20 py-12 mx-auto px-4 lg:px-12">
    <FAQs
      title="Preguntas frecuentes"
      items={[
        {
          title: '¿Qué es SolutionTracker?',
          description:
            'SolutionTracker es una empresa especializada en servicios de rastreo satelital que ofrece soluciones avanzadas para la gestión y monitoreo de activos en tiempo real. Utilizamos tecnología satelital de vanguardia para proporcionar información precisa y en tiempo real sobre la ubicación y el estado de sus activos.',
        },
        {
          title: '¿Cómo empiezo a utilizar sus servicios?',
          description:
            'Póngase en contacto con nosotros en el +593 99 818 0956 o envíenos una consulta a contacto@solutiontracker.ec',
        },
        {
          title: '¿Cómo funciona el sistema de rastreo satelital de SolutionTracker?',
          description: `Nuestro sistema de rastreo satelital utiliza una red de satélites para transmitir datos de ubicación y otros parámetros relacionados con sus activos. Los dispositivos de rastreo instalados en los activos envían información a nuestra plataforma, que luego se presenta de manera accesible a través de nuestro portal en línea.`,
        },
        {
          title: '¿Qué tipo de activos puedo rastrear con SolutionTracker?',
          description:
            'SolutionTracker es versátil y se adapta a diversas necesidades. Puede rastrear una amplia variedad de activos, incluidos vehículos, transporte mixto, maquinaria pesada, motos y más. Nuestra plataforma es escalable para satisfacer sus necesidades específicas.',
        },
        {
          title: '¿Cuál es la precisión del rastreo satelital de SolutionTracker?',
          description:
            'Garantizamos una alta precisión en la localización de activos. La precisión puede variar según la tecnología utilizada y las condiciones ambientales, pero en general, ofrecemos un seguimiento confiable y en tiempo real.',
        },
        {
          title: '¿Cómo accedo a la información de rastreo de mis activos?',
          description:
            'Los clientes pueden acceder a la información de rastreo a través de nuestro portal en línea seguro y aplicación movil. Proporcionamos credenciales de inicio de sesión personalizadas para que pueda monitorear sus activos en tiempo real, ver informes históricos y configurar alertas personalizadas.',
        },
        {
          title: '¿Cuáles son las características adicionales de SolutionTracker?',
          description: `La seguridad de la información es una prioridad. Implementamos protocolos de seguridad avanzados, encriptación de datos y medidas para proteger la integridad y confidencialidad de los datos de nuestros clientes.`,
        },
        {
          title: '¿Cómo garantiza SolutionTracker la seguridad de los datos?',
          description:
            'SolutionTracker es versátil y se adapta a diversas necesidades. Puede rastrear una amplia variedad de activos, incluidos vehículos, transporte mixto, maquinaria pesada, motos y más. Nuestra plataforma es escalable para satisfacer sus necesidades específicas.',
        },
        {
          title: '¿SolutionTracker es compatible con dispositivos móviles?',
          description:
            'Sí, nuestra plataforma es compatible con dispositivos móviles. Puede acceder a la información de rastreo y gestionar sus activos desde cualquier lugar a través de aplicaciones móviles o navegadores web.',
        },
        {
          title: '¿Cuál es el proceso de instalación de los dispositivos de rastreo de SolutionTracker?',
          description: `La instalación de los dispositivos de rastreo es sencilla y es realizada por nuestro equipo técnico. Los dispositivos se integran de manera no intrusiva en sus activos y se configuran para comenzar a transmitir datos de inmediato.`,
        },
        {
          title: '¿Cuál es el costo de los servicios de SolutionTracker?',
          description:
            'Los costos varían según las necesidades específicas de cada cliente y el tipo de servicios requeridos. Contáctenos para obtener una cotización personalizada y discutir cómo SolutionTracker puede beneficiar a su empresa.',
        },
        {
          title: '¿Cómo ayuda SolutionTracker en la gestión de la eficiencia operativa?',
          description:
            'Nuestra plataforma no solo rastrea la ubicación, sino que también proporciona datos valiosos para mejorar la eficiencia operativa. Puede optimizar rutas, monitorear el consumo de combustible y realizar un análisis detallado de los patrones de uso para tomar decisiones informadas.',
        },
      ]}
    />
  </div>

  <!-- CallToAction Widget *********** -->
</Layout>
